---
title: "Edelweiss Archive"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/HomeBanner.jpg
  caption: "image credit: [**rose-engine**](https://store.steampowered.com/app/1262350/SIGNALIS/)"
excerpt: "... she'll sell you the road but she won't point the way home"
intro:
  - excerpt: "_Not all of my stories are available here._"
feature_row:
  - image_path: /assets/images/PuppyPreview.png
    title: "You Can't Save All The Puppies"
    excerpt: "a sketch-slide video - contains themes of animal & child abuse"
    url: "/puppies/"
    btn_label: "watch"
    btn_class: "btn--primary"
  - image_path: /assets/images/RedKingPreview.png
    title: "The Red King"
    excerpt: "a fifteen-act tragedy - contains themes and depictions of sexual abuse and manipulation"
    url: "/red-king/"
    btn_label: "read"
    btn_class: "btn--primary"
  - image_path: /assets/images/SilverAngelsPreview.png
    title: "Calamitous Tale of Silver-Winged Angels"
    excerpt: "a short poem about codependence"
    url: "/silver-angels/"
    btn_label: "read"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}